<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <th:block th:if="${userId}">
    <form action="/members/update" method="post">
      <div class="form-group">
        <label for="userId">아이디</label>
        <input type="text" id="userId" name="userId" th:value="${userId}">

        <label for="userPw">패스워드</label>
        <input type="text" id="userPw" name="userPw" th:value="${userPw}">

        <input type="hidden" name="originId" th:value="${userId}">
      </div>
      <button type="submit">수정</button>
    </form>
  </th:block>
  <th:block th:unless="${userId}">
    <p th:text="${result}"></p>
    <form action="/members/login" method="post">
      <div class="form-group">
        <label for="userId">아이디</label>
        <input type="text" id="userId" name="userId">
        <label for="userPw">패스워드</label>
        <input type="text" id="userPw" name="userPw">
      </div>
      <button type="submit">로그인</button>
    </form>
  </th:block>
</div> <!-- /container -->
</body>
</html>